# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

#Snakemake
.snakemake

# Distribution / packaging
.venv/
.Python
build/
develop-eggs/
dist/
downloads/
results/
logs/
temp/
test/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
htmlcov/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*-checkpoint.ipynb
_build
_static
_templates
dev/
data/test*
.idea/*
tmp*

